@media (max-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}

.left-wrap .card-body {
  padding: 0;
  width: unset !important;
}

.right-wrap .card-body {
  padding: 1rem 2rem;
  width: 100%;
}

.right-wrap .card {
  padding: 3rem;
  width: 100%;
}

.right-wrap .btn-default {
  margin-top: 20px;
  width: 100%;
}

.left-wrap .left-card-side {
  padding: 2.5rem;
}

@media (max-width: 1280px) {
  .right-wrap .card-body {
    padding: 0;
  }

  .left-wrap .card-body {
    width: fit-content;
  }

  .right-wrap .card {
    padding: 2rem;
  }
}

@media (max-width: 992px) {
  .right-wrap .card {
    padding: 1rem;
  }

  .left-wrap .left-side {
    flex-direction: column;
  }

  .left-wrap .left-card-side {
    padding: 1rem;
  }

  .left-wrap .icon {
    margin-top: 15px;
    justify-content: left;
  }
}

@media (max-width: 766px) {
  .left-wrap .left-card-side {
    padding: 2rem;
  }

  .left-wrap .icon {
    margin-top: 15px;
  }
}

@media (max-width: 480px) {
  .continue {
    font-size: 17px !important;
  }
}
